*.db
*.db-journal
.env
CONTRIBUTING.md
Dockerfile
bin/
coverage/
npm-debug.log*
package-lock.json
src/app/App.js
src/app/Status/
src/domain/Status/
tsconfig.json
tslint.json
yarn-debug.log*
yarn-error.log*
yarn.lock